@use "assets/pushable.scss";
@use "assets/index.scss";
// * {
//   box-sizing: border-box;
// }
.Home-header {
  // @extend .base-bg;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .selector-area {
    height: 50vh;
    color: whitesmoke;
  }
}
