@use "assets/index.scss" as base;
// * {
//   box-sizing: border-box;
// }
.Home {
  @extend .base-bg;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

  .svg-container {
    position: absolute;
    min-width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;

    path {
      fill: base.$green;
    }
  }
}
