@use "./index" as base;

.carousel-content {
   position: relative;
   display: inline-block;
   height: 90vmin;
   width: 90vmin;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10vh;
   margin-bottom: 10vh;
   color: "#fff";
   text-align: center;
   overflow: hidden;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
   // border-style: solid;
   // border-color: black;

   .slider {
      display: inline-block;
      height: 80%;
      margin-left: 2em;
      margin-right: 2em;
      margin-top: 10%;
   }

   .red {
      .ant-slider-dot-active {
         border-color: base.$red;
      }
   }
   .blue {
      .ant-slider-dot-active {
         border-color: base.$blue;
      }
   }
   .green {
      .ant-slider-dot-active {
         border-color: base.$green;
      }
   }
   .black {
      .ant-slider-dot-active {
         border-color: base.$black;
      }
   }
}
